<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--begin::Head-->
<head>
    <base href="../../">
    <meta charset="utf-8" />
    <!--token, header-->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>MEGAZONE CLOUD</title>
    <meta name="description" content="Aside light theme example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/themes/layout/brand/light.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/themes/layout/aside/light.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link rel="icon" href="https://imgnew.megazone.com/2019/08/favicon-16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="https://imgnew.megazone.com/2019/08/favicon-32.png" type="image/png" sizes="32x32">
    <link rel="apple-touch-icon" href="https://imgnew.megazone.com/2019/08/favicon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://imgnew.megazone.com/2019/08/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://imgnew.megazone.com/2019/08/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://imgnew.megazone.com/2019/08/favicon-152.png">
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body"
    class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
        <!--begin::Logo-->
        <a href="#">
            <h3>샌드박스 목록</h3>
            <img alt="Logo" src="assets/media/logos/logo-dark.png" />
        </a>
        <!--end::Logo-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Aside Mobile Toggle-->
            <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
                <span></span>
            </button>
            <!--end::Aside Mobile Toggle-->
            <!--begin::Header Menu Mobile Toggle-->
            <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
                <span></span>
            </button>
            <!--end::Header Menu Mobile Toggle-->
            <!--begin::Topbar Mobile Toggle-->
            <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                <span class="svg-icon svg-icon-xl">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                        height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path
                                d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path
                                d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                                fill="#000000" fill-rule="nonzero" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
            </button>
            <!--end::Topbar Mobile Toggle-->
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->

    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Aside-->
            <div th:replace="fragments/admin/nav-left :: navLeft"></div>
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                <div th:replace="fragments/admin/header :: navHeader"></div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class="container">
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                                    <div class="card-title">
                                        <h3>샌드박스 목록</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!--begin: Search Form-->
                                    <div class="mb-7">
                                        <div class="row align-items-center">
                                            <div class="col-lg-12">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-3 my-2 my-md-0">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control"
                                                                placeholder="Search..."
                                                                id="kt_datatable_search_query" />
                                                            <span>
                                                                <i class="flaticon2-search-1 text-muted"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 my-2 my-md-0">
                                                        <div class="d-flex align-items-center">
                                                            <label class="mr-3 mb-0 d-none d-md-block">상태 :</label>
                                                            <select class="form-control"
                                                                id="kt_datatable_search_status">
                                                                <option value="">All</option>
                                                                <option value="ACTIVE">ACTIVE</option>
                                                                <option value="INACTIVE">INACTIVE</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 my-2 my-md-0">
                                                        <div class="d-flex align-items-center">
                                                            <label class="mr-3 mb-0 d-none d-md-block">타입 :</label>
                                                            <select class="form-control" id="kt_datatable_search_type">
                                                                <option value="">All</option>
                                                                <option value="EC2">EC2</option>
                                                                <option value="SageMaker">SageMaker</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 mt-5 mt-lg-0">
                                                        <a href="#"
                                                            class="btn btn-light-primary px-6 font-weight-bold mr-2"><i
                                                                class="fas fa-search"></i>Search</a>
                                                        <button type="button"
                                                            class="btn btn-success font-weight-bold mr-2 sync-sandbox-instance">
                                                            <i class="fas fa-sync-alt"></i> 동기화
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Search Form-->
                                    <!--begin::Datatable-->
                                    <table class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>샌드박스 이름</th>
                                                <th>샌드박스 Uuid</th>
                                                <th>볼륨</th>
                                                <th>상태</th>
                                                <th></th>
                                                <th>승인여부</th>
                                                <th>생성일</th>
                                                <th>변경</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${sandboxes}">
                                                <td th:text="${item.idx}"></td>
                                                <td th:text="${item.name}"></td>
                                                <td th:text="${item.cloudInstanceUuid}"></td>
                                                <td th:text="${item.volume}"></td>
                                                <td th:text="${item.status}"></td>
                                                <td>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.CloudSandboxInstanceStatus).STARTING == item.cloudStatus}">
                                                        <span
                                                            class="label label-xl label-light-primary font-weight-bolder label-inline ml-2">시작
                                                            중</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.CloudSandboxInstanceStatus).RUNNING == item.cloudStatus}">
                                                        <span
                                                            class="label label-xl label-light-success font-weight-bolder label-inline ml-2">실행
                                                            중</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.CloudSandboxInstanceStatus).STOPPING == item.cloudStatus}">
                                                        <span
                                                            class="label label-xl label-secondary font-weight-bolder label-inline ml-2">중지
                                                            중</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.CloudSandboxInstanceStatus).STOPPED == item.cloudStatus}">
                                                        <span
                                                            class="label label-xl label-secondary font-weight-bolder label-inline ml-2">중지</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.CloudSandboxInstanceStatus).TERMINATED == item.cloudStatus}">
                                                        <span
                                                            class="label label-xl label-dark font-weight-bolder label-inline ml-2">삭제</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.CloudSandboxInstanceStatus).PROGRESS == item.cloudStatus}">
                                                        <span
                                                            class="label label-xl label-light-info font-weight-bolder label-inline ml-2">삭제
                                                            신청</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.CloudSandboxInstanceStatus).ERROR == item.cloudStatus}">
                                                        <span
                                                            class="label label-xl label-light-danger font-weight-bolder label-inline ml-2">에러</span>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.SandboxStatus).ACTIVE == item.status}">
                                                        <span
                                                            class="label label-xl label-light-primary font-weight-bolder label-inline ml-2">승인</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.SandboxStatus).REJECTED  ==item.status}">
                                                        <span
                                                            class="label label-xl label-light-danger font-weight-bolder label-inline ml-2">반려</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.SandboxStatus).WAITING == item.status}">
                                                        <span
                                                            class="label label-xl label-light-success font-weight-bolder label-inline ml-2">대기중</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.SandboxStatus).PROGRESS == item.status}">
                                                        <span
                                                            class="label label-xl label-light-info font-weight-bolder label-inline ml-2">삭제요청</span>
                                                    </span>
                                                    <span
                                                        th:if="${T(mzc.data.portal.enums.SandboxStatus).TERMINATED == item.status}">
                                                        <span
                                                            class="label label-xl label-light-danger font-weight-bolder label-inline ml-2">삭제</span>
                                                    </span>
                                                </td>
                                                <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td>
                                        <a class="btn btn-primary btn-sm"
                                           th:href="@{'/admin/sandbox-'+${item.sandboxModelType}+'/'+${item.idx}}">변경</a>
                                    </td>
                                    <!--                                        <td>-->
                                    <!--                                            <input type="button" class="btn btn-primary btn-sm" th:data-parameter1="${item.idx}" onclick="deletet(this.getAttribute('data-parameter1'));" value="삭제"/>-->
                                    <!--                                        </td>-->
                                </tr>
                                </tbody>
                            </table>
                            <!--end: Datatable-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->
        <!--begin::Footer-->
        <footer th:replace="fragments/admin/footer :: footer"  style="float: right;" />
        <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Main-->
<!-- begin::User Panel-->
<div th:replace="fragments/admin/panel :: panel"></div>
<!-- end::User Panel-->

<!--begin::ScrollTop-->
<div th:replace="fragments/admin/scroll-top :: scrollTop" />
<!--end::ScrollTop-->

<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>

<!--begin::Page Vendors(used by this page)-->
<script src="assets/js/pages/crud/ktdatatable/base/html-table.js"></script>
<script src="assets/js/portal/common.js"></script>
<script src="assets/js/portal/cloud-instance.js"></script>
<script>
    var cloudInstance = CloudInstance();
</script>
<!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>