<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!--begin::Head-->

  <head>
    <base href="../../" />
    <meta charset="utf-8" />
    <title>MEGAZONE CLOUD</title>
    <meta name="description" content="Aside light theme example" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
    />
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link
      href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link
      href="assets/plugins/global/plugins.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/plugins/custom/prismjs/prismjs.bundle.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link
      href="assets/css/themes/layout/header/base/light.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/css/themes/layout/header/menu/light.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/css/themes/layout/brand/light.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/css/themes/layout/aside/light.css"
      rel="stylesheet"
      type="text/css"
    />
    <!--end::Layout Themes-->
    <link
      rel="icon"
      href="https://imgnew.megazone.com/2019/08/favicon-16.png"
      type="image/png"
      sizes="16x16"
    />
    <link
      rel="icon"
      href="https://imgnew.megazone.com/2019/08/favicon-32.png"
      type="image/png"
      sizes="32x32"
    />
    <link
      rel="apple-touch-icon"
      href="https://imgnew.megazone.com/2019/08/favicon-60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="https://imgnew.megazone.com/2019/08/favicon-76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="https://imgnew.megazone.com/2019/08/favicon-120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="https://imgnew.megazone.com/2019/08/favicon-152.png"
    />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  </head>
  <!--end::Head-->
  <!--begin::Body-->

  <body
    id="kt_body"
    class="
      header-fixed header-mobile-fixed
      subheader-enabled subheader-fixed
      aside-enabled aside-fixed aside-minimize-hoverable
      page-loading
    "
  >
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div
      id="kt_header_mobile"
      class="header-mobile align-items-center header-mobile-fixed"
    >
      <!--begin::Logo-->
      <a href="#">
        <h3>회원 상세</h3>
        <img alt="Logo" src="assets/media/logos/logo-dark.png" />
      </a>
      <!--end::Logo-->
      <!--begin::Toolbar-->
      <div class="d-flex align-items-center">
        <!--begin::Aside Mobile Toggle-->
        <button
          class="btn p-0 burger-icon burger-icon-left"
          id="kt_aside_mobile_toggle"
        >
          <span></span>
        </button>
        <!--end::Aside Mobile Toggle-->
        <!--begin::Header Menu Mobile Toggle-->
        <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
          <span></span>
        </button>
        <!--end::Header Menu Mobile Toggle-->
        <!--begin::Topbar Mobile Toggle-->
        <button
          class="btn btn-hover-text-primary p-0 ml-2"
          id="kt_header_mobile_topbar_toggle"
        >
          <span class="svg-icon svg-icon-xl">
            <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" />
                <path
                  d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                  fill="#000000"
                  fill-rule="nonzero"
                  opacity="0.3"
                />
                <path
                  d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                  fill="#000000"
                  fill-rule="nonzero"
                />
              </g>
            </svg>
            <!--end::Svg Icon-->
          </span>
        </button>
        <!--end::Topbar Mobile Toggle-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->

    <div class="d-flex flex-column flex-root">
      <!--begin::Page-->
      <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Aside-->
        <div th:replace="fragments/admin/nav-left :: navLeft"></div>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
          <!--begin::Header-->
          <div th:replace="fragments/admin/header :: navHeader"></div>
          <!--end::Header-->
          <!--begin::Content-->
          <div
            class="content d-flex flex-column flex-column-fluid"
            id="kt_content"
          >
            <!--begin::Entry-->
            <div class="d-flex flex-column-fluid">
              <!--begin::Container-->
              <div class="container">
                <!--begin::Card-->
                <div class="card card-custom">
                  <form
                    th:action="@{'/admin/user/'+${userData.getIdx()}}"
                    method="post"
                    enctype="multipart/form-data"
                    name="userUpdateForm"
                    id="userUpdateForm"
                  >
                    <input
                      th:type="hidden"
                      name="_method"
                      id="_method"
                      value="put"
                    />
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                      <div class="card-title">
                        <h3>회원 상세</h3>
                      </div>
                    </div>

                    <div class="card-body">
                      <div class="form-group">
                        <label>아이디</label>
                        <h4
                          class="form-text"
                          th:text="${userData.getLoginId()}"
                        ></h4>
                      </div>
                      <div class="form-group">
                        <label>닉네임</label>
                        <h4
                          class="form-text"
                          th:text="${userData.getNickName()}"
                        ></h4>
                      </div>
                      <div class="form-group">
                        <label for="userGrade">권한</label>
                        <select
                          class="form-control"
                          name="userGrade"
                          id="userGrade"
                        >
                          <option
                            th:selected="(${userData.userGrade == T(mzc.data.portal.enums.UserGrade).ROLE_ADMIN})"
                            th:value="${T(mzc.data.portal.enums.UserGrade).ROLE_ADMIN}"
                            th:text="관리자"
                          ></option>
                          <option
                            th:selected="(${userData.userGrade == T(mzc.data.portal.enums.UserGrade).ROLE_USER})"
                            th:value="${T(mzc.data.portal.enums.UserGrade).ROLE_USER}"
                            th:text="사용자"
                          ></option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="userStatus">상태</label>
                        <select
                          class="form-control"
                          name="userStatus"
                          id="userStatus"
                        >
                          <option
                            th:selected="(${userData.userStatus == T(mzc.data.portal.enums.UserStatus).ACTIVE})"
                            th:value="${T(mzc.data.portal.enums.UserStatus).ACTIVE}"
                            th:text="사용"
                          ></option>
                          <option
                            th:selected="(${userData.userStatus == T(mzc.data.portal.enums.UserStatus).INACTIVE})"
                            th:value="${T(mzc.data.portal.enums.UserStatus).INACTIVE}"
                            th:text="중지"
                          ></option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="userStatus">비밀번호</label>
                        <button
                          type="button"
                          class="btn btn-danger mr-2"
                          th:data-parameter1="${userData.getIdx()}"
                          onclick="initUser(this.getAttribute('data-parameter1'));"
                        >
                          초기화
                        </button>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button
                        type="button"
                        id="formSubmitBtn"
                        class="btn btn-primary mr-2"
                        th:data-parameter1="${userData.getIdx()}"
                        onclick="updateUser(this.getAttribute('data-parameter1'));"
                      >
                        저장
                      </button>
                      <button type="reset" class="btn btn-secondary">
                        취소
                      </button>
                    </div>
                  </form>
                </div>
                <!--end::Card-->
              </div>
              <!--end::Container-->
            </div>
            <!--end::Entry-->
          </div>
          <!--end::Content-->
          <!--begin::Footer-->
          <footer th:replace="fragments/admin/footer :: footer" />
          <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Page-->
    </div>
    <!--end::Main-->
    <!-- begin::User Panel-->
    <div th:replace="fragments/admin/panel :: panel"></div>
    <!-- end::User Panel-->
    <!--end::Scrolltop-->
    <script>
      var HOST_URL =
        "https://preview.keenthemes.com/metronic/theme/html/tools/preview";
    </script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>
      var KTAppSettings = {
        breakpoints: {
          sm: 576,
          md: 768,
          lg: 992,
          xl: 1200,
          xxl: 1400,
        },
        colors: {
          theme: {
            base: {
              white: "#ffffff",
              primary: "#3699FF",
              secondary: "#E5EAEE",
              success: "#1BC5BD",
              info: "#8950FC",
              warning: "#FFA800",
              danger: "#F64E60",
              light: "#E4E6EF",
              dark: "#181C32",
            },
            light: {
              white: "#ffffff",
              primary: "#E1F0FF",
              secondary: "#EBEDF3",
              success: "#C9F7F5",
              info: "#EEE5FF",
              warning: "#FFF4DE",
              danger: "#FFE2E5",
              light: "#F3F6F9",
              dark: "#D6D6E0",
            },
            inverse: {
              white: "#ffffff",
              primary: "#ffffff",
              secondary: "#3F4254",
              success: "#ffffff",
              info: "#ffffff",
              warning: "#ffffff",
              danger: "#ffffff",
              light: "#464E5F",
              dark: "#ffffff",
            },
          },
          gray: {
            "gray-100": "#F3F6F9",
            "gray-200": "#EBEDF3",
            "gray-300": "#E4E6EF",
            "gray-400": "#D1D3E0",
            "gray-500": "#B5B5C3",
            "gray-600": "#7E8299",
            "gray-700": "#5E6278",
            "gray-800": "#3F4254",
            "gray-900": "#181C32",
          },
        },
        "font-family": "Poppins",
      };
    </script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <script src="assets/js/portal/common.js"></script>

    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="assets/js/pages/crud/ktdatatable/base/html-table.js"></script>

    <script>
      /*var markingErrorField = function (response) {
        const errorFields = response.responseJSON.errors;

        if(!errorFields){
            $('#errMessage').html('<div class="alert alert-danger">'+response.responseJSON.message+'</div>');
            mes = response.responseJSON.message;
            return mes;
        }

        var $field, error;
        for(var i=0, length = errorFields.length; i<length;i++) {
            error = errorFields[i];
            $field = $('#'+error['field']);

            if($field && $field.length > 0) {
                $field.siblings('.error-message').remove();
                $field.after('<span class="error-message text-small text-danger">'+error.defaultMessage+'</span>');
            }
        }
    };*/

      function initUser(userIdx) {
        /*Spring Security로 받은 Auth값 전송하기 위한 파라미터*/
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var param = {};

        jQuery.ajax({
          url: "/admin/user/" + userIdx + "/init",
          type: "POST",
          dataType: "json",
          data: param,
          async: false,
          beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
            $(".wrap-loading").removeClass("display-none");
          },
          timeout: 100000,
          success: function (res) {
            alert("사용자 정보가 초기화되었습니다.");
            $(".wrap-loading").addClass("display-none");
            $(location).attr("href", "/admin/user/list");
          },
          error: function (res) {
            //markingErrorField(res);
            $.markingErrorField(res);
          },
        });
      }

      function updateUser(userIdx) {
        /*Spring Security로 받은 Auth값 전송하기 위한 파라미터*/
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var param = {
          userStatus: $("#userStatus").val(),
          userGrade: $("#userGrade").val(),
        };

        jQuery.ajax({
          url: "/admin/user/" + userIdx + "/info",
          type: "POST",
          dataType: "json",
          data: param,
          async: false,
          beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
            $(".wrap-loading").removeClass("display-none");
          },
          timeout: 100000,
          success: function (res) {
            alert("사용자 정보가 수정되었습니다!");
            $(".wrap-loading").addClass("display-none");
            $(location).attr("href", "/admin/user/list");
          },
          error: function (res) {
            //markingErrorField(res);
            $.markingErrorField(res);
          },
        });
      }
    </script>
    <!--end::Page Scripts-->
  </body>
  <!--end::Body-->
</html>
